/* 2076456 황서정 */

:root {
  --themewhite: rgba(255, 255, 255, 1);
  --x: rgba(255, 210, 51, 1);
  --button-bold-font-family: "SourceSans Pro-Bold", Helvetica;
  --button-bold-font-weight: 700;
  --button-bold-font-size: 18px;
  --button-bold-letter-spacing: 0px;
  --button-bold-line-height: 100%;
  --button-bold-font-style: normal;
}
